
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .esp-link:hover {
        color: #0072BB !important;
    }
</style>

<!--Titulo-->
<div class="alert text-center mt-4" style="background-color: #F7F7F7; border: 1px #D2D2D2 solid " role="alert"><h2 class="fs-3">Usuarios</h2></div>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<!--Contenedor-->
<div class="card">
    <div class="card-header pb-0 border-bottom-0">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active esp-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                    <i class="fa fa-users"></i> Lista de usuarios
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link esp-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link esp-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
            </li>
        </ul>        
    </div>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <!--Contenedor 1-->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <a href="#" class="btn btn-primary">Crear usuario</a>
                <hr />
                <!--Tabla-->
                <table class="display cell-border" style="width: 100%" id="datatable">
                    <thead>
                        <tr>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Correo</th>
                            <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>        
    </div>
</div>

@section scripts{
    <script>
        @*jQuery.ajax({
            url: '@Url.Action("ListarUsuarios", "Home")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data)
            }
        })*@

        let dataTable;
        let dataTableIsInitialized = false;

        const dataTableOptions = {
            lengthMenu: [5, 10, 15, 20, 100, 200, 500],
            pageLength: 5,
            destroy: true,
            language: {
                lengthMenu: "Mostrar _MENU_ registros por página",
                zeroRecords: "Ningún usuario encontrado",
                info: "Mostrando de _START_ a _END_ de un total de _TOTAL_ registros",
                infoEmpty: "Ningún usuario encontrado",
                infoFiltered: "(filtrados desde _MAX_ registros totales)",
                search: "Buscar:",
                loadingRecords: "Cargando...",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                },
            },
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarUsuarios", "Home")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                { "data": "nombre" },
                { "data": "apellido" },
                { "data": "correo" },
                {
                    "data": "estado", "render": function (valor) {
                        if (valor) {
                            return "<span class='badge text-bg-success'>SI</span>"
                        } else {
                            return "<span class='badge text-bg-danger'>NO</span>"
                        }
                    }
                },
                {
                    "defaultContent":
                        '<button type:"button" class="btn btn-primary btn-sm"><i class="fa fa-pen"></i></button>' +
                        '<button type:"button" class="btn btn-danger btn-sm ms-2"><i class="fa fa-trash"></i></button>',
                    "width": "90"
                }
            ]
        };

        const initDataTable = async () => {
            if (dataTableIsInitialized) {
                dataTable.destroy();
            }

            dataTable = $("#datatable").DataTable(dataTableOptions);
            dataTableIsInitialized = true;
        };

        window.addEventListener("load", async () => {
            await initDataTable();
        });


        @*tabla_usuarios = $("#tabla_usuarios").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarUsuarios", "Home")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                { "data": "nombre" },
                { "data": "apellido" },
                { "data": "correo" },
            ]
        });*@

    </script>
}


