
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Titulo-->
<div class="alert text-center mt-4" style="background-color: #F7F7F7; border: 1px #D2D2D2 solid " role="alert"><h2 class="fs-3">Usuarios</h2></div>
@*<ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Usuarios</li>
    </ol>*@

<!--Contenedor-->
<div class="card">
    <div class="card-header pb-0 border-bottom-0">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!--Boton 1-->
            <li class="nav-item" role="presentation">
                <button class="nav-link active esp-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                    <i class="fa fa-users"></i> Lista de usuarios
                </button>
            </li>
            <!--Boton 2-->
            <li class="nav-item" role="presentation">
                <button class="nav-link esp-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                    Reiniciar contraseña
                </button>
            </li>          
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <!--Contenedor 1-->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <button type="button" class="btn btn-primary" onclick="abrirModal(null)"><i class="fa fa-plus"></i> Crear usuario</button>
                <hr />
                <!--Tabla-->
                <table class="display cell-border" style="width: 100%" id="datatable">
                    <thead class="table-cabezera cell-border" style="background: #0072BB; color: white">
                        <tr>
                            <th>Usuario</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Correo</th>
                            <th>Telefono</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>

                <!-- Modal -->
                <div class="modal fade modal-lg" id="createUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header text-light" style="background-color: #0072BB">
                                <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body g-2">

                                <input type="text" name="idUsuario" id="idUsuario" value="0">
                                <div class="row">
                                    <div class="col-lg-3 mb-3">
                                        <label class="form-label" for="priNombre">Primer nombre</label>
                                        <input type="text" class="form-control" id="priNombre" name="priNombre" required>
                                    </div>
                                    <div class="col-lg-3 mb-3">
                                        <label class="form-label" for="segNombre">Segundo nombre</label>
                                        <input type="text" class="form-control" id="segNombre" name="segNombre">
                                    </div>
                                    <div class="col-lg-3 mb-3">
                                        <label class="form-label" for="priApellido">Primer apellido</label>
                                        <input type="text" class="form-control" id="priApellido" name="priApellido" required>
                                    </div>
                                    <div class="col-lg-3 mb-3">
                                        <label class="form-label" for="segApellido">Segundo apellido</label>
                                        <input type="text" class="form-control" id="segApellido" name="segApellido">
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <label class="form-label" for="usuario">Usuario</label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingrese el usuario" required>
                                        </div>
                                    </div>                               
                                    <div class="col-lg-6 mb-3">
                                        <label class="form-label" for="correo">Correo</label>
                                        <div class="input-group mb-3">
                                            <input type="email" class="form-control" id="correo" name="correo" aria-describedby="correo" required>
                                            <span class="input-group-text" id="correo">gmail.com</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <label class="form-label" for="telefono">Telefono</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                            <input type="text" class="form-control" id="telefono" name="telefono">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <label class="form-label" for="rol">Rol</label>
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="rol">Optiones</label>
                                            <select class="form-select" id="rol">
                                                <option selected value="1">Administrador</option>
                                                <option value="2">Integrador</option>
                                                <option value="3">Docente</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="estado" checked required>
                                            <label class="form-check-label" for="estado">Estado Inactivo/Activo</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer pe-0 ps-0 flex-nowrap ">
                                    <button type="button" class="btn btn-danger w-50" data-bs-dismiss="modal">
                                        <i class="fas fa-times-circle me-2"></i>Cerrar
                                    </button>
                                    <button type="submit" onclick="Guardar()" class="btn btn-success w-50">
                                        <i class="fas fa-save me-2"></i>Guardar
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Contenedor 2-->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            </div>            
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var config = {
            listarUsuariosUrl: '@Url.Action("ListarUsuarios", "Usuario")',
            guardarUsuariosUrl: '@Url.Action("GuardarUsuario", "Usuario")',
            eliminarUsuariosUrl: '@Url.Action("EliminarUsuario", "Usuario")',
        };
    </script>
    <script src="@Url.Content("~/Scripts/Views/Usuarios.js")" type="text/javascript"></script>
}